In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [6]:
numerical=pd.read_csv("numerical.csv")

In [7]:
categorical=pd.read_csv('categorical.csv')

In [8]:
target=pd.read_csv('target.csv')

In [9]:
encoded_categorical = pd.get_dummies(categorical, drop_first=True)

In [12]:
all_data = pd.concat((numerical,encoded_categorical,target),axis=1)
all_data.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B,TARGET_D
0,0,60.000000,5,9,0,0,39,34,18,10,...,0,0,1,0,0,0,1,0,0,0.0
1,1,46.000000,6,9,16,0,15,55,11,6,...,1,0,0,0,0,1,0,0,0,0.0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,0,1,0,1,0,0,0,0,0.0
3,0,70.000000,1,4,2,0,23,14,31,3,...,0,0,1,0,1,0,0,0,0,0.0
4,0,78.000000,3,2,60,1,28,9,53,26,...,0,0,0,0,0,1,0,0,0,0.0

In [13]:
donations_data = all_data[all_data['TARGET_B']==1]
X = donations_data.drop(columns=['TARGET_B','TARGET_D'])
y = donations_data['TARGET_D']

In [15]:
target['TARGET_B'].value_counts()

0    90569
1     4843
Name: TARGET_B, dtype: int64

In [16]:
data_B = all_data.drop(['TARGET_D'], axis=1)
data_B.head()

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U,TARGET_B
0,0,60.000000,5,9,0,0,39,34,18,10,...,0,0,0,1,0,0,0,1,0,0
1,1,46.000000,6,9,16,0,15,55,11,6,...,0,1,0,0,0,0,1,0,0,0
2,1,61.611649,3,1,2,0,20,29,33,6,...,0,0,0,1,0,1,0,0,0,0
3,0,70.000000,1,4,2,0,23,14,31,3,...,0,0,0,1,0,1,0,0,0,0
4,0,78.000000,3,2,60,1,28,9,53,26,...,1,0,0,0,0,0,1,0,0,0

In [17]:
from sklearn.utils import resample

category_0 = data_B[data_B['TARGET_B'] == 0]
category_1 = data_B[data_B['TARGET_B'] == 1]

In [18]:
category_1_oversampled = resample(category_1, 
                                  replace=True, 
                                  n_samples = len(category_0))

In [19]:
data_upsampled = pd.concat([category_0, category_1_oversampled], axis=0)

In [20]:
data_upsampled['TARGET_B'].value_counts()

1    90569
0    90569
Name: TARGET_B, dtype: int64

In [31]:
data_upsampled.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181138 entries, 0 to 4639
Columns: 355 entries, TCODE to TARGET_B
dtypes: float64(10), int64(321), uint8(24)
memory usage: 463.0 MB

In [21]:
X1=data_upsampled.drop(['TARGET_B'],axis=1)
y1=data_upsampled['TARGET_B']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X1,y1, random_state = 0)

In [25]:
X_train

,TCODE,AGE,INCOME,WEALTH1,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,...,RFA_2A_E,RFA_2A_F,RFA_2A_G,GEOCODE2_B,GEOCODE2_C,GEOCODE2_D,DOMAIN_A_R,DOMAIN_A_S,DOMAIN_A_T,DOMAIN_A_U
60615,0,42.000000,7,9,0,0,31,33,15,6,...,0,1,0,0,0,0,0,0,0,0
39873,2,83.000000,5,4,2,0,38,41,37,11,...,1,0,0,1,0,0,0,0,0,1
78049,2,34.000000,2,9,0,0,4,0,42,4,...,1,0,0,0,0,0,0,0,0,1
55002,0,76.000000,1,3,4,0,41,23,47,6,...,0,0,1,0,0,1,0,0,1,0
70710,2,58.000000,5,7,6,0,29,36,27,11,...,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11310,1,61.611649,5,9,0,0,36,23,27,6,...,0,0,1,0,1,0,0,0,0,0
18676,2,61.611649,1,9,0,0,28,33,27,6,...,1,0,0,0,1,0,0,0,1,0
30116,0,40.000000,6,9,0,0,40,47,10,10,...,0,1,0,1,0,0,0,1,0,0
84293,1,53.000000,6,2,0,1,30,30,25,13,...,0,1,0,0,0,1,1,0,0,0
45885,0,61.611649,5,2,3,1,22,27,30,6,...,0,1,0,0,0,1,1,0,0,0

In [32]:
from sklearn.tree import DecisionTreeRegressor

In [36]:
regr = DecisionTreeRegressor(max_depth=10,
                             criterion = 'mse',
                             min_samples_split=7,
                             min_samples_leaf = 2,
                             max_features = 4)
model = regr.fit(X_test, y_test)
print("test data accuracy was: ",regr.score(X_test, y_test))
#print("train data accuracy was: ",regr.score(X_train, y_train))

test data accuracy was:  0.13409716436014885

In [34]:
model

DecisionTreeRegressor(max_depth=10, max_features=4, min_samples_leaf=2,
                      min_samples_split=7)

In [39]:
from sklearn.model_selection import RandomizedSearchCV


max_depth_choices= [3,4,5,6,7,8,9,10,None]
criterion_choices = ['mse','mae']
min_samples_split_choices = [2,3,4,5,6,7,8,9,10]
min_samples_leaf_choices = [2,3,4,5,6,7,8,9,10]
max_features_choices = [2,3,4,5,6]

random_grid = {'max_depth': max_depth_choices,
               'criterion': criterion_choices,
               'min_samples_split': min_samples_split_choices,
               'min_samples_leaf': min_samples_leaf_choices,
               'max_features': max_features_choices}

In [40]:
random_search = RandomizedSearchCV(estimator = model, param_distributions = random_grid, n_iter=25, cv = 5, n_jobs = 10)

In [41]:
random_search

RandomizedSearchCV(cv=5,
                   estimator=DecisionTreeRegressor(max_depth=10, max_features=4,
                                                   min_samples_leaf=2,
                                                   min_samples_split=7),
                   n_iter=25, n_jobs=10,
                   param_distributions={'criterion': ['mse', 'mae'],
                                        'max_depth': [3, 4, 5, 6, 7, 8, 9, 10,
                                                      None],
                                        'max_features': [2, 3, 4, 5, 6],
                                        'min_samples_leaf': [2, 3, 4, 5, 6, 7,
                                                             8, 9, 10],
                                        'min_samples_split': [2, 3, 4, 5, 6, 7,
                                                              8, 9, 10]})

In [ ]:
random_search.fit(X_test,y_test)

In [ ]:
random_search.best_params_

In [ ]:
random_search.best_score_